BR2_TARGET_ROOTFS_EXT2_SIZE="10G"

BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_PACKAGE_GCC_TARGET=y

BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_GIT=y
BR2_PACKAGE_MAKE=y

BR2_PACKAGE_ELFUTILS=y

BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_KERNEL_HEADERS=y
BR2_PACKAGE_LINUX_HEADERS=y
BR2_KERNEL_HEADERS_AS_KERNEL=y
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="../../../images/x86_64_small/kernel.config"
